@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #e0c3fc, #8ec5fc);
  font-family: poppins, sans-serif;
  font-weight: 700;
}

.head {
  width: 100%;
  border-bottom: 2px solid aqua;
  text-align: center;
  background-image: linear-gradient(120deg, #a1c4fd, #c2e9fb);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

.page1, .page2, .page3, .page4, .page5 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1%;
       column-gap: 1%;
  box-shadow: 0px 0p 12px 6px rgba(0, 0, 0, 0.4);
}

.image {
  width: 40%;
}

#health1, #health2, #health3, #health4, #health5 {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.4);
}

#healthDescription1, #healthDescription2, #healthDescription3, #healthDescription4, #healthDescription5 {
  text-decoration: underline;
}

.content {
  width: 50%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

footer {
  width: 16%;
  height: auto;
  padding: 1% 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: 0%;
  bottom: 2%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation: ripple 2s infinite;
          animation: ripple 2s infinite;
}
footer h2 {
  padding-left: 4%;
}
footer span {
  color: gold;
  text-decoration: underline;
}

@-webkit-keyframes ripple {
  50% {
    box-shadow: 0px 0px 20px 10px gold;
  }
}

@keyframes ripple {
  50% {
    box-shadow: 0px 0px 20px 10px gold;
  }
}
.footer {
  position: fixed;
  bottom: 2%;
}